# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/


# Editors and IDEs
.vscode/
.idea/
*.swp
*.bak
*~
*.log

# Operating System files
.DS_Store

# Test/Coverage
.coverage
.pytest_cache/
htmlcov/
